[2017-05-15 18:57] DACole opened #1 "Tech Jam Virtual Reality Experience"
Example description

[Here's a link to nowhere](https://www.google.com)
![example image](https://cloud.githubusercontent.com/assets/25957670/26074153/c6dc0a66-397e-11e7-9874-f4ba8990dea9.png)

[2017-05-15 20:12] DACole opened #2 "DoIT Quarterly Meeting"
A meeting

[2017-06-05 13:10] DACole commented on #2
This has been Closed. We finished.

[2017-06-05 13:11] #2 closed, assigned to DACole

[2017-06-05 13:14] DACole opened #3 "Serc"

[2017-06-05 13:14] DACole opened #4 "Court Yard Festival"

[2017-06-05 13:15] DACole opened #5 "Summer Meals Program"
Summer Teens are able to collect a free lunch everyday during the summer as a number of locations around the city. City hall is now a location as well.

[2017-06-05 13:15] DACole opened #6 "Registry - Marriage License"
A "How to" video describing how to apply and obtain a marriage license.

[2017-06-05 13:51] SarahFigalora opened #7 "311 Video Project"
Pitched by the 311 Call Center team -- the Northeastern Co-ops had an idea to create an "Office"-style video describing what goes on behind the scenes of a 311 call.

[2017-06-05 13:52] SarahFigalora commented on #2
DONE

[2017-06-05 13:53] SarahFigalora opened #8 "Net Neutrality"

[2017-06-05 14:44] DACole opened #9 "Performance Park(+Data Viz)Lawrence + Traffic Footage [25]"

[2017-06-05 14:56] DACole opened #10 "[BPS] Day-in-the-life [10]"

[2017-06-05 14:58] DACole opened #11 "360 Tour of Eliot [20]"

[2017-06-05 14:58] DACole opened #12 "311 Testimonials [10/ep] 12"

[2017-06-05 14:59] DACole opened #13 "N'Hood Slow Streets [15]"

[2017-06-05 15:02] DACole opened #14 "Fallon Field Tour [15]"
Finished

https://www.youtube.com/watch?v=nTm0E2_pBiQ

[2017-06-05 15:02] #14 closed, assigned to nobody

[2017-06-05 15:39] SarahFigalora commented on #8
Video project pitched by Anne Schweiger, would coordinate with a Net Neutrality Town Hall. Still waiting approval to move forward.

[2017-06-05 15:56] SarahFigalora commented on #1
This project is in coordination with DoIT's table at TechJam on June 15, it will be a VR experience through City Hall. The journey will start exactly where our TechJam table is for an extra crazy VR experience.

[2017-06-05 17:40] KristopherCarter opened #15 "A Day with the Parks - Tree Crew"
beefy dudes with chainsaws - Parks would like to produce a story on there tree team.

[2017-06-06 14:45] DACole commented on #15
any thoughts on a deadline...GH4 over crank sounds like it could be cool.

[2017-06-06 14:56] DACole opened #16 "A story about Don Harney on film."
If I get the bolex in July, I was thinking about asking Don, if can he tell us a story about documenting the mayor on actual film. I believe Isabel was also documenting on film as well and they would use the dark room on floor one which has since be removed. She is out with a broken knee, but maybe just filming a short interview and some cool shots of him with one of his hassleblads taking a photo

[2017-06-06 16:19] KristopherCarter commented on #16
That could be really interesting. I'd love to get Don's personal story - who mentored him, etc.

[2017-06-06 16:21] KristopherCarter commented on #15
Probably a mid-summer project, we tend to get a lot of tree calls during hurricane season if we have one this year. So that would mean a release in late September. GH4 overcrank and head/chest-mounted go-pros with people cutting down trees would be good visuals. We should see if they do plantings too, timelapse of a set of trees installed might be good to.

[2017-06-06 16:24] KristopherCarter opened #17 "TedxCambridge "experience""
TEDx offered exhibit space to ImagineBoston2030. Once idea we talked about was a VR tour of Columbia Road or the Dearborn STEM academy as an interactive exhibit. Needs some thought put behind what would be a good experience.

[2017-06-06 16:34] DACole commented on #16
Yeah, I have heard a lot of stories about him working for the newspaper in Chelsea and also how it was working alongside other local greats like: **Stanley Joseph Forman**  an American former photojournalist who won a Pulitzer Prize two years in a row while working at the Boston Herald American.

He has also told me about wearing a freezer suit because it had many pockets and allowed him to carry

[2017-06-06 16:35] DACole commented on #16
I asked Don and he said he is totally up for it and can provide lots of old negatives and tools of the past.

[2017-06-08 21:25] amateurmenace opened #18 "Imagine Boston"

[2017-06-20 13:04] #1 closed, assigned to DACole, SarahFigalora

[2017-06-20 13:05] #7 closed, assigned to DACole, SarahFigalora

[2017-07-17 13:28] DACole commented on #18
StoryLab: consisted of a video booth, Love Letters to Boston, Expansion VR, Documentation VR, Post Cards and dialogue between Monum and constituent. Timelapse photography and video documentation was also used inside the old american bank building. The goal being to capture the emotions and stories of the constituent as they gather around the days activities at the launch of IB2030.

[2017-07-17 13:30] DACole commented on #18
We plan to have four VR headsets one for each location. We also discussed audio boxes that could capture the stories as well. These would be setup at a number of locations throughout the exhibit allowing people to speak freely about the event and launch. This was eventually thrown out.

[2017-07-17 13:31] DACole commented on #18
Process of preparation was smooth, meetings with Sabrina, IB2030, and Stephen Walter went according to plan.

[2017-07-17 13:32] DACole commented on #18
Day of production, we traveled with many mobile devices to the location, spent time setting up and providing context for individuals to be apart of the experience.

[2017-07-17 13:33] DACole commented on #18
content has began backup process. still waiting for direction on how to edit and share content or will it be used for archival purposes.

[2017-07-17 13:34] DACole commented on #4
Was a huge success we filmed the event with a few cameras and also captured a time lapse video from beginning to end. We have delivered edits to Jackie Lender and waiting on feedback.

[2017-07-17 13:36] DACole commented on #6
We have filmed, collected photos from individuals that have been getting married on the sixth floor. Developing a word pattern for the text that will appear on screen during the video. We also have a voice over artist that will be able to read the script.

[2017-07-17 13:37] DACole commented on #6
Additional footage was filmed of two more couples in a more staged manner that can be used to enhance the background of the text that will appear onscreen during the video.

[2017-07-17 13:38] DACole commented on #6
Ability to find a compelling format for viewer to digest the large amount of content is under development. Time spent researching and adapting more modern forms of motion graphic storytelling.

[2017-07-17 13:38] DACole commented on #6
Formulating  motion graphics....

[2017-07-17 13:39] DACole commented on #3
Met with Sabrina....after delivering the "What Makes Home, Home" edit.

[2017-07-17 13:40] DACole commented on #3
Was able to deliver the recap of the Serc video to Sabrina. Waiting on feedback.

[2017-07-17 13:41] DACole commented on #5
Event was documented and awaits direction for editing, archival, video release or postpone

[2017-07-17 13:42] #8 closed, assigned to DACole, SarahFigalora

[2017-07-17 13:44] DACole commented on #8
The video was launched on the day of action and received a good response, from the public. It was also embedded GovTech with a larger story on the Net Neutrality.

Digital team helped and provided illustrations.

[2017-07-17 13:47] DACole commented on #13
This should be animated....
KWC...next week.

projected to be finished in the month of July

[2017-07-17 13:50] DACole opened #19 "60 Second City Hall Lobby Video"
Once the the new entrance is finished being installed, use the old video of the space to show the change from what it was to what it is now. This can be filmed just after close, so that the images can be clear of people to see the detail in order.

A capture during the day with the public present could also be interesting as well.

[2017-07-17 13:50] DACole commented on #19
We filmed the initial state of the lobby during the CYF2017 with the space empty on the ronin.

[2017-07-17 13:50] DACole commented on #19
footage was backed up locally.

[2017-07-17 13:51] DACole commented on #19
awaiting finish of the build.

[2017-07-17 13:52] DACole opened #20 "Monum Fellows Projects"
Monum has twelve fellows that all have their own projects going. I will need to check in with them to get the status of their work and when they plan to finish.

[2017-07-17 13:54] DACole opened #21 "Chill N Grill"
The Mayor wants to know about you. The mayor will interview a select number of people that the constituents can relate to. The first interviewee was David Ortiz, also slated is Warren-Joyce

[2017-07-17 13:57] DACole commented on #21
Spent a lot of time working with the Press Team to make sure the art direction and layout for this production could be executed. Props and a fair amount of digital production tools were used to build the scene for the backyard style setting of the Mayor's chill n grill.

This was filmed directly after David Ortiz had a street named after him. The general public was able to watch the interview taki

[2017-07-17 13:57] DACole commented on #21
Content has been backup locally....

[2017-07-17 13:57] DACole commented on #21
first draft of editing was submitted.

[2017-07-17 13:57] DACole commented on #21
awaiting meeting to review and make the next decisions on editing.

[2017-07-17 13:59] DACole opened #22 "Larger City Hall / Video - Photo booth Footage"
Mike Mckenna
Pat
On the Start
____________________

[2017-07-17 14:00] DACole opened #23 "TNT Slow Street + Mass Ave"
Slated for September.

[2017-07-17 14:01] DACole opened #24 "Dearborn Tour"
Video tour of the space.

more information needed on the direction of this project?
who should be assigned this project.
when will it need to be filmed or released?

[2017-07-17 14:02] DACole opened #25 "Pokemon Go"
When is the project being filmed?
What is the intent of this video?
When will it be released?
Who is working on this?

[2017-07-17 14:08] DACole opened #26 "MBK"
My Brothers Keeper working concept.
after doing some initial interviews with some of the winners of the MBK grant
I look to speak with Conan Harris about the program but more specifically about
the future of young men of color in Boston.

How is their future looking what opportunities are available, how can they understand
outcomes that have not been presented to them?

What is services are not av

[2017-07-17 14:46] DACole opened #27 "Server / Team Edit / Archival Plan"
a need for more data storage and a server space that will allow multiple people to access content on the network and edit from the network is needed.

After speaking with IT we have started to work on a solution. A remote desktop of a share of space was built. This drive has not been accessible via software.

A test was done to access data through software on the local network. This works but the

[2017-07-17 14:59] DACole commented on #27
Robert S. designed a drive for us to test. The speeds were great just under a minute a gig, though variable over time.

there is suppose to be a possibility of having transfer restart automatically if it was to crash during the transfer process.

[2017-07-17 15:02] DACole commented on #27
many of the creatives are working on mac based machines and currently the network is only available via work windows based machines.

Is it possible to access the network via a mac if given permissions?

Mac Drive is a software that will allow a windows based machine to read mac formatted drives.
We used this the other day and saved hours of time. this can be huge time saving mechanism if we can o

[2017-07-17 15:03] DACole commented on #27
waiting to get access  for multiple users to be able to a network drive with shared content.

[2017-07-17 15:32] DACole commented on #16
Waiting to see if I will get access to a bolex. MassArt is suppose to provide this....

[2017-07-17 20:57] DACole commented on #6
Attempting to fit a 1920x1080 video box into a 4k canvas alongside text...in hopes this will allow for more space to read text call out while allowing for space for video as well.

[2017-07-21 12:43] DACole commented on #25
Filming today with the mayor.

[2017-07-21 12:43] DACole commented on #16
I need to check in with Patricia about this project. Will craft a better storyboard to present to her.

[2017-07-21 21:05] DACole commented on #25
This is being pushed back to a later date.

[2017-07-21 21:06] DACole commented on #25
Potential Script...from Nancy in Press Office:

-Hi, I'm Mayor Marty Walsh.

-This summer, you --- Boston’s youth --- have the chance to create new “stops” in the game Pokemon Go.

-This is your chance to share with the world the hidden histories of our City.

-I encourage you to start thinking about where you’d like a “Poké-Stop” permanently added to the game.

-I’ll get the ball rolling.

-I’d l

[2017-07-25 17:12] DACole commented on #3
Met with Sabrina about changes.

[2017-07-25 17:12] DACole commented on #3
Changes were made, uploaded to google drive for review

[2017-07-25 17:13] DACole commented on #21
Edit has been cut down from 8 minutes to sub 5 minutes. Awaiting review.

[2017-07-25 17:22] DACole commented on #6
Finished with onscreen text. The additional room allowed for more text to be shown while the video is playing. Consolidating video footage for final composite and timing tests and inclusion of voice over.

[2017-07-31 17:28] DACole commented on #21
We are the 5 repair edit. All comments have been submitted. I just upload the final draft for review.

[2017-07-31 17:29] DACole commented on #21
I want to add a little polish editing to the on screen text boxes. Re-do them once we have picture lock in Apple Motion for smoothing and better text editing.

[2017-09-12 20:18] DACole commented on #27
Starting next week we can start testing the team editing feature in Adobe...which allow us to work as a team when editing. The main aspect to test, is how to work with assets of the project, where will these assets live and how do we keep them consistent across different users.

Quick How To:
https://www.youtube.com/watch?v=seiELRqeYBs

Demo
https://www.youtube.com/watch?v=MirFi1IqyJM

[2017-09-12 20:19] DACole commented on #24
Jaclyn produced this video. Great work...
https://www.youtube.com/watch?v=SHzNlC6Fk0U

[2017-09-12 20:21] DACole commented on #21
Chill N Grill went through a bunch of changes, we added more awesome moments of the mayor and made a teaser and released the full length video.
https://www.youtube.com/watch?v=XairBU3m1c4

[2017-09-12 20:22] DACole commented on #20
Interviews were filmed and editing is needed of the final content.

[2017-09-12 20:23] DACole commented on #19
After the final build was done, we filmed some more shots that could be added to the before construction footage. After further review this project has been put on hold, and more content maybe added to the video.

[2017-09-12 20:24] DACole commented on #16
This is going to be closed...as there is no need for this type of content at the moment.

[2017-09-12 20:25] DACole commented on #5
This was edited by Jaclyn and additional video was filmed to give more context to the events that happened in and around the Summer Meals Program.

[2017-09-12 20:26] DACole commented on #3
Final edits were made...awaiting if there are any other changes needed to be made or exports for going public.

[2017-09-12 20:27] DACole commented on #4
No other words on the edits, but changes were made per Lender's guidance. I think all is well on this project. Its a wrap.

[2017-09-12 20:28] DACole commented on #6
Very close to the end, waiting to make sure this how to video will align with the overall branding for all of the videos that are needed. Meeting with the design team are currently under way.

[2017-09-12 20:33] #3 closed, assigned to DACole

[2017-09-12 20:33] #4 closed, assigned to DACole

[2017-09-12 20:33] #5 closed, assigned to nobody

[2017-09-12 20:33] #18 closed, assigned to nobody

[2017-09-12 20:34] #21 closed, assigned to nobody

[2017-09-12 20:34] #24 closed, assigned to DACole

[2017-09-12 20:37] DACole opened #28 "Boston Artist in Residence"
This has been an on going project. That involved filming and interviewing all ten of the Boston Artist in Residence artists. This has been done, roughly an hour interview for each of them along with some supporting broll from the different projects they have been working on.

This coming week we will be making ninety second videos that will play on a screen during their final event this Saturday.

[2017-09-12 20:45] DACole opened #29 "#TO IMMIGRANTS WITH LOVE"
This is has been an ongoing project with Katherine Copeland from immigrant advancement. We interviewed and documented the process of each mural being installed in East Boston and Roslindale. We would like to release these videos before the Roslindale unveiling towards the end of the month.

Next steps are to start editing the videos by the end of the next week so that they are ready for social.

[2017-09-12 20:47] #16 closed, assigned to DACole

[2017-09-18 14:05] DACole commented on #28
screened videos..on Saturday at an emerson gallery for all of that were involved in the process of Boston Artist and residence. Videos will go through a final revision before hitting the web.

Thanks to all of your help.

[2017-09-18 14:06] DACole commented on #29
start editing with Katherine Copeland. We will pick the selects and look for music.

[2017-09-18 14:32] DACole commented on #27
Testing and experimenting with the size of the project and how much cloud space we might need to do a small project. I am going to test this process using the #29 immigrantswithlove content to see if I can build the project and also allow for the multiple editors to work on the same problem at the same time.

[2017-09-18 18:23] DACole opened #30 "Press Week 1"
Press has reached out to the the #DOITProductionTeam about covering a few events this week. One involves a live stream and the others are tracking the mayor. I think they basically want quick turnarounds for these. We can try to use the Adobe Team Projects for these.

Basic workflow would be to shoot these projects and put proxy versions in cloud that would allow for multiple editors to work throu

[2017-09-19 13:55] DACole commented on #29
We chose selects and decided what some of the general workflow should be for finishing. They want to release the project just after next week.

[2017-09-19 16:21] DACole commented on #30
The Friday trolly ride was removed from the request list. Tomorrow morning we might have to be there on site for recording the interview as the cable office will be present!

[2017-09-20 14:38] DACole commented on #30
Sarah and I were successful in being able to launch facebook live from the chamber of commerce event. The footage is also being used to make a quick video of the speech with text that allows viewers to see read as well as listen.

[2017-09-22 16:48] DACole commented on #30
Filmed the major walking through the current build of a library in Chinatown.

Edited the footage, and sent a draft to Sam Chambers and Audrey

[2017-09-22 17:33] DACole commented on #28
awaiting feedback on the first batch of interviews.

[2017-09-22 21:03] DACole commented on #30
Received some feedback and made changes, going to meet with press on Monday morning about adding a few things before this ships next Thursday.

[2017-09-22 21:03] #27 closed, assigned to DACole

[2017-09-26 19:44] DACole commented on #29
Sent a series of edits to Katherine. Then we went through and made changes. I send the proofs to be checked on by her team.

Major changes left...adding lower thirds and updating color...

[2017-09-27 14:55] DACole commented on #29
added lower thirds and also made color changes....just waiting on renders...

[2017-10-03 13:26] DACole commented on #30
Was asked to film more broll content of chinatown. I added this contented added additional copy and awaiting any feedback!

[2017-10-03 13:28] DACole commented on #29
All changes were approved moving forward on the east Boston draft edit. A name change was requested for the Roslindale.

[2017-10-03 13:29] DACole commented on #28
Will begin sending the proofs for final drafts this week. These will be used in presentations and on the website.

[2017-10-06 14:50] KristopherCarter opened #31 "The Architect of Boston City Hall"

[2017-10-06 14:51] KristopherCarter opened #32 "HQ2 Testimonials"
Five interviews with people for HQ2 to be completed by 10/15. Awaiting Crystal Torman on list and schedule

[2017-10-12 14:30] DACole commented on #30
This video was ok'd and was released on the website.

[2017-10-12 14:30] #30 closed, assigned to DACole, SarahFigalora

[2017-10-13 13:12] DACole commented on #32
Ann Klee: Filmed, draft edit, footage in cloud
MJW:Filmed, draft edit, footage in cloud
Zorica Pantić: Filmed, draft edit, footage in cloud

[2017-10-13 20:45] DACole commented on #28
8 of 10 final drafts have been completed and upload to the drive. We also have 10 promo length videos that need to be sliced into individual edits, but the editing is complete already.

[2017-10-13 20:46] DACole commented on #29
The Roslindale teaser was added to a media release this afternoon...Eastie Boston edit should be finished in the upcoming week.

[2017-10-16 21:14] DACole commented on #28
9 of the 10 edits have been made, plus a teaser...Awaiting Rashin to send additional content from her documentation. Also awaiting any feedback from Arts and Culture to the final edits.

[2017-10-16 21:15] DACole commented on #29
The full length video went live today on youtube for the Roslindale Edit, I will start working on the east Boston edit tomorrow which will wrap this project.

[2017-10-16 21:16] DACole commented on #32
Final interviews to be filmed tomorrow at 2pm. From there edits will be made.

[2017-10-18 13:36] DACole commented on #32
President of BU,Filmed, draft edit, footage in cloud
VP of Berklee,Filmed, draft edit, footage in cloud
Student of Northeastern,Filmed, draft edit, footage in cloud

Also posted edits of first round of q & a

[2017-10-18 13:36] DACole commented on #32
Filmed last Q&A's today,  draft edit, footage in cloud

[2017-10-20 14:28] DACole commented on #32
All videos live on the website. Their may be minor design changes made over the next week.

[2017-10-20 15:46] DACole commented on #28
Meeting with Sharon next week to talk about next steps.

[2017-10-20 15:47] DACole commented on #29
Submitting a final draft of East Boston to Katherine today.

[2017-10-20 15:49] #32 closed, assigned to nobody

[2017-10-20 15:50] DACole commented on #6
I spoke with Patty today and she is interested in sitting down to see the final drafts and talk about next steps. Hoping to start jamming on this next week.

[2017-10-23 13:45] DACole commented on #29
awaiting feedback.

[2017-10-23 15:09] DACole opened #33 "Career Campaign 2"
Career Campaign has been given the green light to do five more videos. Two of which we aim to release before the new year and the remaining three videos after the new year.

- Kerry Jordan (Television & Technology Manager City Council)
- Senior Shuttle Driver  ( currently hiring )
- Joseph Bagley (Archaeologist)
- School crossing guard (currently hiring)
- and we are adding  Kelly McGrath at Parks

[2017-10-24 13:27] DACole commented on #29
I am going to add a few shots to the broll that I took the other day while in East Boston.

[2017-10-24 15:08] DACole commented on #29
awaiting feedback.

[2017-10-24 17:32] DACole commented on #29
Katherine responded and wants to meet about finalizing later this week.

[2017-10-24 17:33] DACole commented on #28
Meeting scheduled

[2017-10-31 14:31] DACole commented on #29
Working with Katherine on final edits...should be wrapped this week for sure.

[2017-10-31 14:32] DACole commented on #28
Need more time to review content...in the meantime everything is smooth...

[2017-10-31 14:33] DACole commented on #6
Moving this project to After Effects for motion graphics

[2017-10-31 15:19] DACole commented on #29
Checking to see if we can add Spanish Subtitles...

[2017-10-31 20:59] DACole commented on #29
Katherine wants to extend the time lapse into a few other sections besides that we will wait for Spanish subtitles before calling it a wrap.

[2017-10-31 21:00] DACole commented on #28
Added the edit of Rashin to the final draft folder. Going to add a second angle to her interview...then just waiting for a review.  A handful of the videos were used today in a meeting.

[2017-11-03 13:31] DACole commented on #29
Picture is locked...just waiting on Subtitles.

[2017-11-03 22:26] #29 closed, assigned to nobody

[2017-11-03 22:26] DACole commented on #29
has been uploaded to the web....its a wrap!

[2017-11-06 14:13] DACole commented on #28
Filmed the final work for Lina at Hyde Park.
Working with Rashin to add finishing touches to her video.

[2017-11-06 21:30] DACole commented on #28
Lina video updated.

[2017-11-14 18:53] KristopherCarter commented on #15
Post-poned until spring - but very helpful in spring with a focus on tree care for community partners

[2017-11-17 14:40] DACole commented on #28
updating Rashin.

[2017-11-20 14:08] sebastianebarb opened #34 "Video : CoB Re-brand explainer"
@daren: The CoB needs a video to explain the how its brand works and its origins.
Due Date: Fri, December 22
Example below:
https://www.youtube.com/watch?v=xKu2de0yCJI

Video should talk about
- Brand logic
- COLOR
- LOGO AND SEALS
- TYPOGRAPHY
- ICONOGRAPHY
- PHOTOGRAPHY
- TOOLKIT

[2017-11-20 19:58] DACole commented on #28
Rashin Updated!

[2017-11-20 19:58] DACole commented on #28
closing this project, until ARTS has further feedback....

[2017-11-29 14:57] DACole commented on #28
Sharon and Karin, emailed over some light changes that can be made in this week or the start of next week as they think they may have a few more coming down the line.

[2017-11-29 15:23] DACole commented on #28
Karin had some feedback about the videos. I've written them below.

Ann's is a little longer than the rest,  can we cut it down just a bit just because Marjorie's is only about 4 and Ann's is 6 so perhaps a little trim will be best to bring difference down a bit. Specifically, Karin asked to cut a little bit from the father-son video.

Trimming:
For Salvador around 3:30 he makes a comment about wi

[2017-11-29 15:25] DACole commented on #34
I spent some time organizing some thoughts around the layout of the project. I am curious about the V/O at this point...and if I should just follow the language that is posted on the brand guideline page, as it is written pretty well already?

Besides that I plan to start pulling the samples to make the edit at the start of next week...

I watch the youtube link as well...and think that is a reall

[2017-12-27 15:59] DACole commented on #34
Submitted a draft edit, will meet with Sebastian about edits.

[2017-12-27 20:16] #28 closed, assigned to DACole

[2017-12-27 20:16] DACole commented on #28
made changes, returned updated edits, waiting to see if everything is good to go!

[2017-12-28 14:50] #19 closed, assigned to DACole

[2017-12-28 15:33] sebastianebarb commented on #34
@DACole notes for first draft are here, please take a look.

 https://docs.google.com/a/boston.gov/document/d/1u1EjKEWKvav3X2GUzNowOvis4HrshVC6G1RKwCucrVg/edit?usp=sharing

[2018-01-02 16:09] DACole commented on #6
Final drafter submitted. Registry needed a few pickup shots of diverse couples and same sex couples...we filmed those during the time that Patty was doing marriages last week.

Those additional shots have been added to the video and a final draft was submitted.

[2018-01-02 16:09] DACole commented on #6
waiting for feedback.

[2018-01-02 16:13] DACole opened #35 "QM3"
Quarterly meeting #3.

We have three videos that we are looking to complete alongside providing google cardboard headsets that can be given away as a taken home from the event.

Final testing to see if laser cutting the parts for the google cardboard will happen this coming week.

Final decisions on what we will be filmed for these projects will be happening this week as well for the video portion

[2018-01-02 16:16] DACole opened #36 "Homelessness"
We filmed and interviewed two sets of individuals that were previously homeless and have since been placed in a homes.

Footage has been stored on to hard drives.
Assembly edits will happen today...

cut the stories this week...and deliver a draft.

[2018-01-02 16:17] DACole commented on #34
Thanks for the notes...
will edit and send these back this week...most likely before the end of the week.

[2018-01-08 21:42] DACole commented on #35
Started production today. Sarah and I filmed a few scenes with for the connectivity part of the QM3 videos.

[2018-01-08 21:48] DACole commented on #36
They are looking for a some edits to share towards the end of the month.

I filmed interview with Blake, that will be added to Steven Watts Interview.

I will be editing the video of Steven Watts and the group interview with Eric and Charles.

I have already made an assembly cut of Steven Watts. Hoping I can make an assembly of Eric and Charles as well this week.

[2018-01-08 21:50] DACole commented on #6
Additional changes have been sent by Jeanethe and Sebsatian. I will begin making those changes.

Jeanethe:
-- The intro b-roll doesn't look like Boston, unless that's a beach in Quincy or Revere? It would be great to start out with a photo of a couple that got married at City Hall.

-- Overall the b-roll graphics in the beginning are a little distracting probably because it ranges from stock-looki

[2018-01-10 15:39] DACole commented on #34
Turned in a second draft...new list of changes...adding in Laura Melle to do a new Voice Over.
making changes and edits now.

[2018-01-12 14:13] sebastianebarb commented on #34
@DACole will have next draft by the end of the day Thursday Jan 18. (note added Tuesday Jan 16)

Overview:
- Please make all titles uppercase and put them in the same place each time.
- Section Titles - Section title sizing (e.g. Color Relationships, Typography, and Photography) is inconsistent.
- We need to add a header slide for the video. Even if it's quick, something along the lines of 'City o

[2018-01-12 15:05] KristopherCarter commented on #17
Kill this.

[2018-01-16 15:19] DACole commented on #34
New Voice over:

"The new mark for Boston is the bold letter B, underlined. The B is a way to strike a friendly tone. While the seal is a symbol of authority, the B and the longer City of Boston logo is our way of showing we are human."

"Montserrat is used for headlines in capital letters and Lora should be used for large blocks of text. both are available on the online brand guidelines."

[2018-01-16 16:03] DACole commented on #35
Sarah and I filmed another part to connectivity. We also recorded the voice over parts of the data warehouse.

Plotting on when and how to film the third video in the least amount of time possible.

[2018-01-17 15:22] DACole commented on #6
Setting up a tech for a screening of the how to register for a marriage license.

[2018-01-18 17:33] DACole commented on #34
Turned in version 4 of the video brand explainer.
https://drive.google.com/file/d/1GPsxLCTjiWBEdDmcR911B1RjUPqSeemS/view?usp=sharing

awaiting feedback.

[2018-01-22 20:00] sebastianebarb commented on #34
Notes:
1:10: text "experiential" is not centred on the icon.
1:18: Missing new voice over "Small circular icons are used to show activities at parks, community centres and other city locations"

[2018-01-23 16:26] DACole commented on #36
Editing the videos for the event next week wednesday. 1 minute edits for each subject and a 3minute edit that includes everyone and the mayor.

[2018-01-25 20:56] DACole commented on #35
we finished the video. They will be showing tomorrow at QM3
awaiting a delivery of parts for the VR headsets which
we laser cut 30 of them and were able to put them together.

great creative achievements between everyone that helped out.

[2018-01-25 21:24] DACole opened #37 "Video Templates (Batch One)"
Deadlines:
Friday February 2nd.

I will produce the first batch of video templates that can be accessed by departments to help guide them concept a video, lower thirds animations, and logo bumpers.

The folders will be build in a way that the user can navigate the templates via type of content(animations, concepts, music, and stock footage), but also via project files that can act as a guide to di

[2018-01-26 14:41] DACole commented on #35
Mock Ups from the VR headset demos are complete.
Edits ready.
Videos will be played off of Sarah's laptop we will be testing at noon today.

[2018-01-29 14:28] #35 closed, assigned to DACole, SarahFigalora

[2018-01-29 15:50] DACole opened #38 "Budget Video"
release date: Feb 7th

This is a video that will explain some of the finer details that are hard to understand about the budget in regards to the school budget.

Script so far
https://docs.google.com/document/d/1KVZwcUgyVudMsrY_VE5rlDQpBAE5dFRWUMq5gc89qus/edit?usp=sharing

[2018-01-29 15:52] DACole opened #39 "BOSTON UNCOVERED EPIC"
Meeting with Marta from archives to create small quick videos for social.
Filming next week Feb 6th.

[2018-01-29 16:00] DACole opened #40 "Black History Month"
Ky'ron from election reached out about making a recap video for Black History Month.

[2018-01-29 16:02] DACole opened #41 "Environment Storytelling"
from Mugzy....
I wanted to reach out to you because we were thinking it would be awesome to put together a video with all of our new Climate Ready Boston Leaders and their work. Over the next few months, each of the leaders will be hosting events and presenting Climate Ready Boston materials. I will be attending most of them and thought if I captured some footage then at the end we could put toget

[2018-01-29 16:05] DACole opened #42 "Child Care"
Contact: kimberly.lucas@boston.gov
Kim reached out about a project and wanted to follow up with more information.

I'm part of a workgroup looking at family child care in the city. We've been working on a suite of projects, and in the course have come up against the need to tell the story of family child care educators--how valuable they are to the city as care providers, small business owners, an

[2018-01-29 16:43] DACole commented on #34
Laura and I will record the new voice over today and I can fix the alignment.

We recorded the voice over...will make edits and resubmit.

[2018-01-29 16:47] DACole commented on #36
Updated logos from Caroline. The old ones had funny boxes around them.

[2018-01-29 16:49] DACole commented on #36
Steven Watts 1 minute edit is finished.
https://drive.google.com/open?id=1HSUrKWbMVvk9xy8HdpsSo1ytg5SFDDpa

Editing the Mayor video today with all of the other interview subjects mixed in.

[2018-01-31 19:18] sebastianebarb opened #43 "Doit Trailer"
Contact: Sebastian Ebarb.
First Draft Due: Feb 8, 2018
Last draft with updates due: Feb 15, 2018
We need a video to show when we go out to recruit candidates. Using previously shot content please cut a video that can be displayed on any kind of screen, and played with or without sound.

[2018-01-31 19:20] sebastianebarb commented on #41
@DACole this is fine as long as she is shooing the video.

[2018-01-31 19:21] sebastianebarb commented on #40
@DACole this is fine as long as she is shooing the video.

[2018-02-01 00:57] DACole commented on #36
Edit was submitted to be screened in the lobby this evening for the census count, with subtitles.
The same edit was uploaded to youtube to be shared.
https://drive.google.com/open?id=1ChtrEdSIQvkKd4rAiJ4zhgJQCblikBDK
https://www.youtube.com/watch?v=BL8P0wMhn6I
here are the 60 second finals, still waiting to see where they will land.
https://drive.google.com/open?id=1fh_JhMDe_IiQujL2vJaOVEZncYeLTKn

[2018-02-02 14:22] DACole commented on #37
Batch One created and in this folder.
https://drive.google.com/open?id=11DPYtwSMb4b4_XqfEr27BE7bHkxk9-As

I figured out a way to turn each of the projects I work on in the future into an additional template that can be added to these folders as well as the stock assets we use each project. So, as we create more content, there will be more templates for people to use in the future to help guide the

[2018-02-02 14:43] DACole commented on #34
Resubmitted the updated changes to voice over and text alignment. Let me know if you need anything else.

https://drive.google.com/open?id=10tAoX1RJ7IspjyeyYV2aRnBgJzsCEu6F

[2018-02-02 19:27] #34 closed, assigned to DACole

[2018-02-02 19:27] #36 closed, assigned to DACole

[2018-02-04 16:28] DACole opened #44 "Chinatown Library Grand Opening"
Filmed the grand opening of the chinatown library. This will be editing into a 90 second piece.

[2018-02-05 19:10] DACole commented on #38
Sarah and I recorded voice over to replace the scratch track that I recorded last week, we also met with Kris Carter to speak through some ideas for some of the animations and plugins that could be used.

Editing for a fine cut to present tomorrow afternoon that will leave us with a day for changes.

[2018-02-06 22:25] DACole commented on #44
Done...
https://youtu.be/sXZkpyc10-w

[2018-02-06 22:27] #44 closed, assigned to DACole

[2018-02-06 22:29] #40 closed, assigned to DACole

[2018-02-06 22:33] DACole commented on #38
Made many edits to the animations and was able to layout the broll. Submitted a draft, and waiting for feedback, can hopefully drill through the changes tomorrow.

[2018-02-06 22:34] DACole commented on #38
made the mistake of attempting to edit the animations on an older machine in Apple Motion which did not save as much time as I would have hoped. Adding this software to a newer machine moving forward.

[2018-02-06 22:41] DACole commented on #38
YES! they are fairly happy with everything.

- total funding $1.2B -- needs to be changed to $1.109B (change text and change voice over) @ 00:26
- pie chart with percentages -- needs labels @ 00:43
- bar chart with FY18 vs. FY19 -- need to add amounts @ 00:50
- student at far right -- needs symbols as well @ 1:00
- take out "special thanks to" on last slide

[2018-02-12 14:33] #43 closed, assigned to sebastianebarb, DACole

[2018-02-13 14:53] sebastianebarb opened #45 "Blog post: video brand guidelines"
Darren and Sebastian,

Please write a blog post about the video brand guidelines.

[2018-02-14 20:35] DACole commented on #38
Shipped and uploaded.

We also had an additional launch and screening with added Spanish voice over that can run a on a loop for screenings.

Updated Links

Spanish
https://youtu.be/0p15r8utn5A

English
https://youtu.be/9ti5uulohvw

English and Spanish
https://youtu.be/7IA5YxgHIn8

[2018-02-14 20:36] DACole commented on #42
We start sketching a draft of the animation.

We will filmed the early child care provider.

I will start making the edit, this is due by the end of the day tomorrow.

[2018-02-22 19:47] #42 closed, assigned to DACole

[2018-02-22 19:47] #41 closed, assigned to DACole

[2018-02-22 19:57] DACole opened #46 "Captions and Subtitles Explored"
Summary:
Carving out time to develop a better approach of including more languages to the creative content we are releasing. Also looking at automated tools that can better help us resolve issues when dealing with multiple languages.

[2018-02-23 15:27] DACole commented on #46
I spoke with Reilly and she mentioned we can access her notes once we have our information together about translations and subtitles.

[2018-02-23 15:35] DACole commented on #46
I will start pulling a list of resources and articles that are speaking about how to deal with the issue of translation and having a wider voice when making content for cities. I also think this could be a research area we could get funding in to help us pay for things.

[GOOGLE DOC FOR LINKS](https://docs.google.com/document/d/18lgG0vdfEDAmyWs1Vjc1TZL6Zi9R3RB6nFL324BzepA/edit?usp=sharing)

[2018-02-23 15:42] DACole opened #47 "Video Brand Guidelines"
Things to do.

-Present them to the cable office.
-Have the published on the city website.

[2018-02-23 15:43] DACole opened #48 "IDP"
THINGS TO DO.

-Final animation changes.
-Interview subject and edit them into the video.

https://drive.google.com/open?id=0B811SzyaEqJ3VU5zWkt4MGt3bGM

[2018-02-26 19:12] DACole opened #49 "TEST ISSUE"
TODAY IT IS DUE.

[2018-02-26 19:16] DACole commented on #33
@42

[2018-02-26 19:59] DACole opened #50 "Boston Uncovered Batch One"
Sarah has produced 10 plus videos that will be released on social.

I will add the links here to the videos.

[2018-02-26 19:59] DACole commented on #50
We are currently in post production on the first batch, drafts will go out this week for approval.

[2018-02-28 21:06] DACole opened #51 "Senior Saves"
Due Friday:for social media release. 1-2 minutes.
The mayor visits an old house and couple that were apart of the senior saves
program that allowed them to replace their 30+ year heating system.

[2018-02-28 21:07] DACole commented on #51
We filmed the footage this morning. editing now.

[2018-03-06 14:08] DACole commented on #46
There is a webinar coming up that we will listen to and figure out what the leaders in captioning are doing to lower the cost

[2018-03-06 14:12] DACole commented on #6
changes being made to the content by James.
James submitted Changes
Darren recorded a new voice over
Editing is in process.

[2018-03-07 15:14] DACole commented on #50
These will be rolled out starting in a few weeks, before this we will add a an end graphic for the title of the series.

[2018-03-07 15:17] DACole commented on #46
We watch part of the IBM Watson Webinar that had a lot to speak about their new improvements to captioning, we want to reach out to them about how to better think through translations if the dialogue is in English what is the most affordable and accurate way to have them translated in the many other languages that are needed for communities within the city.

[2018-03-07 15:17] #51 closed, assigned to DACole

[2018-03-07 15:24] #38 closed, assigned to DACole

[2018-03-07 15:25] DACole opened #52 "HOW THE BUDGET WORKS"
DEADLINE: APRIL 9th

Script:
https://docs.google.com/document/d/1qd7MnSR4QRjVH_RxO3kmCJuS_l8U60sGjBuRx50rBYU/edit?usp=sharing

We have meeting today to go over the where the script is and how we want to lay this project out.

[2018-03-08 14:51] DACole commented on #52
We met with the budget department to finalize the script.
Doc: http://bit.ly/2tpP6vt

Darren with do the first round of voice overs.

Sebastian is going to circle back with us about animations and if they need any assistance.
Once animations are in, we can always pull b-roll to fill any gaps in visuals.

[2018-03-08 14:52] DACole opened #53 "Environment Live Stream Edit"
Robbie needs edits to a live stream video that was made in multiple orientations.

[2018-03-08 14:53] DACole opened #54 "Edit of Myron Belfast Interview"
I interviewed Myron Belfast but some of the footage was missing frames, so we are not able to release it as one entire video.

I will go in an make a short form edit of the interview that can be shared with Arts.

low level priority.

[2018-03-08 15:21] DACole commented on #53
Made edits to the live stream and submitted the videos to Robbie via live stream.

[2018-03-09 20:11] DACole commented on #52
First Round of Voice over will be recorded on Monday.

[2018-03-12 13:11] DACole commented on #6
Registry video has been approved. Exporting for the web.

[2018-03-12 13:21] DACole commented on #53
They approved it.

[2018-03-12 13:21] #53 closed, assigned to DACole

[2018-03-12 13:21] DACole commented on #45
Will Review, to see everyone is happy with post. Should be finished.

[2018-03-12 13:26] DACole commented on #45
https://docs.google.com/document/d/1juSsI3xPM6RQ9p3ldD3AJsy9L2yVqPlFTuY2-pUd4VI/edit?usp=sharing

[2018-03-12 13:30] DACole commented on #6
uploaded.
https://www.youtube.com/edit?o=U&video_id=sPJqlko35Z0

[2018-03-12 13:31] #6 closed, assigned to DACole

[2018-03-15 17:52] DACole opened #55 "Boston Air (Sound Mix)"
Maria Molteni...would like her audio mixed and mastered again to bring the overall noise bed down.

There is no rush on this.

I also need to pull their working files out of the archives which will not be available until next week most likely.

[2018-03-15 18:51] DACole commented on #52
Editing the placeholder voice over.

Sebastian has been making lots of head way on the animations.

[2018-03-15 18:53] DACole commented on #50
Adding the title sfx shot early next week. That way we can launch the video

[2018-03-16 13:46] DACole opened #56 "Data and Space Report"
Research, analyze and report back with proposed guidelines about what the differences between backing up and acquiring image data at different data rates.

-Acquisition size
-Editing Requirements for editing at different resolutions, frame rates, formats and codecs.
-What processes can be used to produce better data control between cameras and backups.
-Identify alternate solutions for working wit

[2018-03-16 14:00] DACole commented on #56
What videos to start backing up the masters from to google drive:
Boston Air
Career Campaign
Mayor Videos

[2018-03-20 20:11] DACole commented on #55
found the project on the Cautro 4 back drive.

[2018-03-22 13:28] sebastianebarb opened #57 "B-Roll Epic"

[2018-03-22 13:41] sebastianebarb opened #58 "How-to Pay a Parking Ticket"
Script: https://www.boston.gov/departments/parking-clerk/how-pay-parking-ticket

Due: April 27th

Notes:
This is the case study we will use to develop the how-to video style. If you need design assistance let me know. Please add labels as needed

[2018-03-22 14:09] DACole opened #59 "Now Hiring: BPL David Leonard"
David Leonard the former CTO is not the president of the BPL and will share is experiences and ideas for moving forward with the city of Boston.

-Your path to becoming CTO and how that lead you to President?
-What kind of impact would you hope next CTO would bring to the BPL?
-How has the BPL changed since your time there, what is the future?
-Describe a moment that inspired you to excel at your

[2018-03-22 14:15] DACole commented on #49
https://waffle.io/CityOfBoston/av-club/cards/5ab3b92f599e1e008a44d6f7

[2018-03-26 13:53] sebastianebarb opened #60 "Artist talks: EPIC"
- [ ] Edit of Myron Belfast Interview
https://waffle.io/CityOfBoston/av-club/cards/5aa14e8b72cec70046bc55d0

- [ ] Thersa India Young

[2018-03-26 13:55] sebastianebarb opened #61 "Thersa India Young: Artist video"
Contact: John.crowley@boston.gov
Date due:

- [x] Film Shoot
- [x] Edting
- [x] Shiped

[2018-03-26 14:01] sebastianebarb commented on #46
![Hunting Cat Wallpapers 1.jpg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/579a426a8f594a13008422a3/125516c66e82c728ace21e0d46c08194378b8daecfcabe57e46af198255626632c16b06b21c7af6aaf50740b0a0c0abe4b4a5a4dfdf0df7aa5e03475880903b9d16e5725c03445a9be840da313f871d51bdaebe5c01982fa3737e68c854e3b1c07188efd553da19c48c14abb.jpg)

[2018-03-26 14:53] DACole opened #62 "BPS Student Poll Worker Recognition Ceremony"

[2018-03-26 16:07] DACole commented on #62
Contact: Kyron.Owens@boston.gov
Date due:

 Film Shoot
 Edting
 Shiped

[2018-03-26 17:04] DACole opened #63 "Home Share Nesterly"

[2018-03-26 17:06] DACole commented on #63
CONTACT: Lisa Smith <lisa.smith@boston.gov>
                      Marcy Ostberg <marcy.ostberg@boston.gov>
DUE: TUESDAY

We are highlighting two stories. One we have a nice photo of, but the other it would be great to have some video footage.

[2018-03-28 13:00] #50 closed, assigned to DACole, SarahFigalora

[2018-03-28 13:00] DACole commented on #48
Marcy just reached out and said she is going to look for an interview subject to add to this video.

[2018-03-28 13:02] DACole commented on #63
I submitted a draft and was given feedback, I am now waiting on feedback on the second draft.

[2018-03-28 13:02] DACole commented on #52
We are presenting a draft to the budget and press team at 10am March 28th.

[2018-03-28 13:02] DACole commented on #59
Filming David Leonard March 28th at the BPL

[2018-03-28 13:03] DACole commented on #62
I took photos at this event last night, I am going send them the photos tomorrow.

[2018-03-29 15:19] DACole commented on #62
made edits and upload versions to the web.

[2018-03-29 15:19] #62 closed, assigned to DACole

[2018-03-29 15:23] DACole commented on #59
Filmed and made a backup of the footage.

[2018-03-30 13:24] DACole commented on #52
Pie Chart Updates:
https://drive.google.com/file/d/0B811SzyaEqJ3Q2J3UjJDbW9qdTFpVWtjSHQ1eUt5aV9SOWRz/view?usp=sharing

Timeline:
https://docs.google.com/presentation/d/15yHm_qpKkCMr58fwan5OKWa-not3CgY_c-aUD5CfLSw/edit?usp=sharing

Other suggestions were to add fotos that resemble a pie chart in the background of some of the animations.

[2018-03-30 13:25] DACole commented on #52
There will be a meeting Monday to review, the next steps of the plan.

[2018-04-02 14:09] DACole commented on #59
Filming b-roll wednesday morning.

[2018-04-02 14:12] DACole commented on #61
This has been filmed, and uploaded to the internet, but the using a powered speaker for the microphone, that can also allow for a master mix to be pulled from for the audio track of the video that is documented.

[2018-04-02 14:12] DACole commented on #63
Shipped this last week, will check in with again to see if they need anything else.

[2018-04-09 17:08] sebastianebarb opened #64 "Who Picks Up Your Trash video"
Contact: lauren.zingarelli@boston.gov
Deadline:

Notes:
The environment would like a video to talk about how to deal with trash. More notes inbound.

[2018-04-11 12:39] DACole commented on #56
look to process content that can have the entire project live online, including the working project files that will allow for changes of old projects to be made on the fly.

[2018-04-11 12:39] DACole commented on #59
finish filming broll, and working to make edits of the final draft.

[2018-04-11 12:41] DACole commented on #63
changed a title they need for their website.

[2018-04-11 12:42] DACole commented on #61
https://drive.google.com/open?id=1Z-6S0uw4H2MwNYjUMtqnB5YqhdkCyZM5

better mic hookup would make this a better audio experience. Currently the microphone was just a lav mic between all of the panel members, there is also a very loud vent in the space.

[2018-04-11 12:42] #61 closed, assigned to DACole

[2018-04-11 12:47] DACole commented on #63
https://drive.google.com/open?id=1uGiKewLL3gQZz11tu7pPF7yj2W7-pPGf

[2018-04-11 13:32] DACole commented on #52
https://youtu.be/bMH0of5xe7s

https://drive.google.com/file/d/17xl_7_-SkPwpYjzwCvWETiZ8XU1p6bNG/view

[2018-04-11 13:32] #52 closed, assigned to DACole, SarahFigalora

[2018-04-12 13:58] DACole commented on #64
"our perspective is to model the right practices of recycling and to demonstrate that collective action moves us closer to our climate goals while creating a healthier environment."

[2018-04-12 14:01] DACole opened #65 "Gretchen BU"

[2018-04-12 14:02] DACole commented on #65
Sarah and I filmed Gretchen for BU.

Molasses Flood - the plaque on the wall, photos of the event itself, harbor view from early 20th century? view of the old Ell that was there?

Old North Crypt - various shots of that church, historic images of church

Ben Franklin - plaque on the front of Vets' Shelter on Ct St, view of the Franklin Ave sign (that's the alley beside the shelter), Bust of BF on

[2018-04-12 14:02] DACole opened #66 "BPL BU"

[2018-04-12 14:04] DACole commented on #66
Filmed two pieces at the BPL for BU.

might be worth reaching out to Lisa Pollack about a photograph she has that talks about mayor white(depending on his record) where he allowed for the Rolling Stones to come play a show in Boston after they had being held in Providence.

[2018-04-12 18:47] #63 closed, assigned to DACole

[2018-04-12 18:48] DACole commented on #37
I test the templates with Arts department, a few tweaks need to be made to work on the repeatability of copying the framework content again and again.

[2018-04-12 18:49] DACole commented on #37
The master template package will live on the website and allow for users to download the package and have all the parts needed to create what they want using the templates, all of them can be tweaked within the software.

[2018-04-18 14:53] DACole commented on #64
Updated proposals provided by Robbie
https://docs.google.com/document/d/1HMAz8DDI5jDX4x1tWR_l_FVmG0ENrkkeGTaZMSZzdhY/edit?usp=sharing

[2018-04-24 20:00] DACole opened #67 "Environment Recycling:EPIC"

[2018-04-24 20:04] DACole commented on #67
Contact: Lauren Z

Environment is looking create some content that is related to the full life cycle of a recycled goods, these video should help inform watchers on the what is happening to their recycled goods, but also about the best practices of recycled goods, so that these streams of materials are not contaminating other clean materials that are already in the system.

Waiting to hear back fr

[2018-04-24 20:05] DACole opened #68 "PWD WEEK VIDEOS:EPIC"

[2018-04-24 20:06] DACole commented on #68
parent of #72
Parent of #71
parent of #70
parent of #74
parent of #69

Character-driven pieces
Due: May 21 - 25

Make a bumper and have a campaign.

Lav people and hang out with them.

Interview Questions

What do you do?
Take me through a day.
What is something about your job that people would be surprised to hear.
What was your best day on the job?
Why do you do this? Why is it important?

Serie

[2018-04-24 20:08] DACole commented on #59
Draft is edited, just waiting to add the bumpers

[2018-04-24 20:09] DACole opened #69 "Engineering the streets"

[2018-04-24 20:10] DACole commented on #69
(KC) B Roll: Timelapse of a project?

[2018-04-24 20:10] DACole opened #70 "Street Lights (DC)"

[2018-04-24 20:10] DACole opened #71 "Smooth and Clean (SW)"

[2018-04-24 20:11] DACole opened #72 "Trash (DC)"

[2018-04-24 20:11] DACole opened #73 "Central Fleet(DC)"

[2018-04-24 20:12] DACole commented on #73
Child of #68

[2018-04-24 20:13] DACole commented on #71
Show potholes being filled
Street sweeping

[2018-04-24 20:14] DACole commented on #72
Recycling
Trash

[2018-04-24 20:17] DACole opened #74 "Central Fleet"

[2018-04-24 20:17] DACole commented on #74
Show cars being worked on
Show vehicles

[2018-04-24 20:18] #73 closed, assigned to nobody

[2018-04-24 20:19] DACole commented on #70
B Roll: Street lights going on in various neighborhood

[2018-04-24 20:37] DACole commented on #39
parent of #65

[2018-04-26 13:49] DACole commented on #68
Engineering: Katie Choe or Para Jayasinghe and his team
Street Lighting Division: Mike Donaghy
Potholes and Street Sweeping: Yuri Rushin (Potholes) Hubie Butler (Mechanical Sweeper). If we need more footage - Joanne Sullivan (She was featured previously - what's a hokey?)
Trash and Recycling: Gerry Gorman (Recycling) Paul Boyd (Inspector)
Central Fleet: Hector Ortiz (Light Shop) and Pablo Guerrero

[2018-04-26 14:36] DACole opened #75 "Boston Saves"

[2018-04-26 14:37] DACole commented on #75
Interview with the mayor and the youth, speaking about what it means to be able to save money for school.

[2018-05-07 20:23] sebastianebarb commented on #75
@DACole Logo is here: https://drive.google.com/open?id=0B0RwQU94BhGeVG8wZjhITUdmNG8

[2018-05-21 13:55] #70 closed, assigned to DACole

[2018-05-21 13:55] #75 closed, assigned to DACole

[2018-05-21 13:57] DACole commented on #68
We ended up filming three parts to this street lighting, trash and recycling, and central fleet.

[2018-05-21 13:58] #72 closed, assigned to DACole

[2018-05-21 13:58] #71 closed, assigned to DACole

[2018-06-05 13:40] DACole opened #76 "Climate Summit"

[2018-06-05 14:08] DACole commented on #76
Climate Summit at the BU.
Mayors will walk into a photo booth
and be given a prompt, after that, the one liner's will be
given a logo and shipped to google drive.

There is also need for BTS footage that can all be taken
from the main cameras cable and or BU and used to make the
recap video which will launch on Sunday.

This will involve all parts of production.
We will be bring a computer, tripod

[2018-07-24 14:38] #69 closed, assigned to DACole

[2018-07-24 14:40] DACole commented on #66
this was finalized and was released last week.

[2018-07-24 14:40] #66 closed, assigned to DACole, SarahFigalora

[2018-07-24 14:44] DACole commented on #65
These are being released...finished with editing though

[2018-07-24 14:44] #65 closed, assigned to DACole, SarahFigalora

[2018-07-24 14:44] #48 closed, assigned to DACole

[2018-07-24 14:45] DACole commented on #68
these were released:

[2018-07-24 14:45] #68 closed, assigned to DACole

[2018-07-24 14:45] #59 closed, assigned to DACole

[2018-07-24 14:45] #74 closed, assigned to DACole

[2018-07-24 14:45] #37 closed, assigned to DACole

[2018-07-24 14:45] #47 closed, assigned to DACole

[2018-07-24 14:45] #45 closed, assigned to DACole

[2018-07-24 14:45] DACole commented on #55
finshed.

[2018-07-24 14:46] #55 closed, assigned to DACole

[2018-07-24 14:46] DACole commented on #76
finished:
https://drive.google.com/open?id=1-FDZVV48B47WG5ADTzxPDPK9yFX-Z6Ql

[2018-07-24 14:47] #76 closed, assigned to DACole

[2018-07-24 14:47] #46 closed, assigned to DACole, SarahFigalora

[2018-07-24 14:47] #56 closed, assigned to sebastianebarb, DACole

[2018-07-24 17:53] DACole commented on #64
Sent an update email to Lauren to see if they still want to run this project...

[2018-07-24 17:54] #67 closed, assigned to DACole

[2018-08-20 17:09] sebastianebarb opened #77 "test EPIC"

[2018-08-20 17:10] sebastianebarb commented on #77
Child of #57

[2018-08-20 17:12] sebastianebarb commented on #77
child of #60

[2018-08-20 17:12] #77 closed, assigned to nobody

[2018-08-22 13:39] sebastianebarb opened #78 "Add tags to open and closed tickets"
Contact: Sebastian Ebarb
Due: Aug 23 2018
Please add a number ranking (tag) to all current and previous tickets

[2018-08-30 14:15] sebastianebarb opened #79 "ONS fire help"
Contact: Sam Chambers
Due: Open

Whenever a home or apartment building catches fire and ONS agent is on seine. We would like to create a video the highlights this services and the good that it has done.

[2018-08-30 14:18] sebastianebarb opened #80 "Emergency responders B Roll"
Below you will see a list of dates for search and rescue training. Pick two to attend, we need to get B Roll and photos. When you decide on dates have Brenda Jones reach out for scheduling. Booking this is a high priority, please set it us ASAP when you are back.

[2018-08-30 14:18] sebastianebarb commented on #80
![unnamed.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/579a426a8f594a13008422a3/125516c66e82c728ace21e0d46fd9a94228f86adcda5fd53b652fa912a5265296b51fa7a2983e27bb91a2e530a571aac42500e42f5ad8c2da0a42062c80d55b98e30063e937f03a6aa8317b500bf238e4986bebb8a45c9ed3837aa.png)

[2018-09-05 14:58] sebastianebarb opened #81 "Photo Shoot for Climate summit"
Contact: Sebastian
Due: Friday Setember 7th

We need to photograph the materls from the Climate Summit.
- Badges
- Folder
- invites
- Notebooks and pens
- Pop ups

[2018-09-10 13:15] sebastianebarb opened #82 "Rebrand video: The Elderly Commission"
Contact: cassandra.baptista@boston.gov
Due: Nov- Dec

The Elderly Commission will be rebranding themselves in the next few months they will need an ad to explain what they do. Set up edits for broadcast, social and the city's website.

[2018-09-17 13:50] #81 closed, assigned to DACole

[2018-09-24 13:26] DACole commented on #80
Brenda sent new times but is out today so I will reconnect with her tomorrow to and she is suppose to let me know what the best time to be there later this week will be.

[2018-09-24 13:27] DACole commented on #64
I am going to close this since Robbie is no longer here and Lauren just started me on a new project, they can resubmit for this project if they want to bring it to life.

[2018-09-24 13:28] #64 closed, assigned to DACole

[2018-09-24 13:32] DACole commented on #78
adding tags to them now.

[2018-09-24 13:32] #78 closed, assigned to DACole

[2018-09-24 13:44] DACole opened #83 "Opioid Litigation Video"

[2018-09-24 13:55] DACole opened #84 "BEST OF BERDO"

[2018-09-24 14:00] DACole commented on #84
Best of Berdo is a project that looks at the best practices of energy use of a handful of buildings. We made three videos and a super awesome intro!

Currently, we are just working getting final approval, while making finishing touches on the intro.

-animation of the window lights
-Caroline is adding a few graphics to the window
-Stacia is re doing the voice over.

[2018-09-24 14:10] DACole opened #85 "Greenovate Boston Leaders Program"

[2018-09-24 14:14] DACole opened #86 "AIR"

[2018-09-24 14:39] DACole opened #87 "Latin X"

[2018-09-24 14:53] DACole commented on #87
Latin X needed some media for the Hispanic Heritage month.

We took fotos of all the people involved in the video so that it could be use on the website.

We started with a promotional short video for social media and Natalia is showing the full length version to the Mayor today to get sign off on it.

[2018-09-24 14:57] DACole commented on #87
Exports
https://drive.google.com/open?id=1rmKkrKG1Auz9pct1tApIGPgq7Sth-itP

Headshots
https://drive.google.com/open?id=1q61l-c1dntHLz4rcQsAf-7tJYQgWVHDM

[2018-09-24 14:59] DACole opened #88 "#BU urban farming"

[2018-09-24 14:59] DACole opened #89 "#BU Dorchester Burial Grounds"

[2018-09-24 15:07] DACole commented on #80
Last Email.

Hello Darren,

Here are the general agenda and POCs for next week.  To start with Trench Rescue,  it appears Monday is basically classroom where the next days are hands-on practical and performance.  Do you think you can change your date from 9/24 to 9/26 or 27?  Please see agenda overview below:

Trench Rescue Training - Monday September 24
Lead Instructor: Brookline Fire David Rando

[2018-09-24 15:13] DACole opened #90 "City Hall Anniversary"

[2018-09-24 15:16] #15 closed, assigned to nobody

[2018-09-24 15:16] #17 closed, assigned to nobody

[2018-09-24 15:16] #10 closed, assigned to nobody

[2018-09-24 15:16] #12 closed, assigned to nobody

[2018-09-24 15:16] #20 closed, assigned to nobody

[2018-09-24 15:16] #13 closed, assigned to nobody

[2018-09-24 15:16] #9 closed, assigned to nobody

[2018-09-24 15:17] #11 closed, assigned to nobody

[2018-09-24 15:17] #25 closed, assigned to nobody

[2018-09-24 15:17] #23 closed, assigned to nobody

[2018-09-24 15:17] #22 closed, assigned to nobody

[2018-09-24 15:18] DACole opened #91 "#BU Quilt"

[2018-09-24 15:43] DACole opened #92 "Twitter Conversion Tool / Help"

[2018-09-24 15:47] DACole commented on #92
Emma from the mayors office stopped by and new a file smaller for when she uploads it to twitter. I sent it through the encoder and then emailed the file to her.

The file was originally 170mbs and I shrank it to 14mbs, while Sarah, disclosed that she has to do this often and usually uses a third-party internet app to make this process work, which means a few extra uploads and downloads of the sam

[2018-09-26 15:22] DACole commented on #87
Was shown to the Mayor, I guess they liked it, but no word on release yet.

[2018-09-26 15:52] DACole commented on #92
Tutorials on how to make the droplets.
https://www.youtube.com/watch?v=EtxDPJu916Y
https://www.youtube.com/watch?v=A-WjBgd5iT4
https://www.youtube.com/watch?v=kafDxtpP28g

[2018-09-27 13:23] DACole commented on #80
Ill be meeting with Brenda in the morning and she also texted me a few shots from earlier this week.

Brenda:
Vehicle and Machinery Extrication Training - 9/28, afternoon is the best segment.
8:30am and ends at 4:30pm. One hour lunch is always ~ 12pm for the students.

[2018-09-27 13:24] DACole opened #93 "Resilient Harbor"

[2018-09-27 13:25] DACole commented on #93
IDEA:
https://docs.google.com/presentation/d/1aO-WrSyPOeyb5hSbFWnfDPwxgCnd9nmSDY4z5-_ikMQ/edit?usp=sharing

I am mainly backing Kris on this, going out to get a few shots.
Today I will be going to Carson Beach / Moakley Park to get a few images.

[2018-09-27 13:26] DACole commented on #84
We are re-doing the voice over tomorrow afternoon.
I can also finish animating the lights in the windows.

[2018-09-27 13:29] DACole opened #94 "Photograph Collateral"

[2018-09-27 13:30] DACole commented on #94
Taking some photographs for Caroline.

[2018-09-27 18:23] #94 closed, assigned to DACole

[2018-09-28 18:22] DACole commented on #93
I am adding some shots to help Kris with the editing to this folder.

https://drive.google.com/open?id=1G0ISUALAgCw2XmQht9mx64hjrBv_cUmj

SHOT LIST
East Boston: Constitution Beach, East Boston Greenway, Piers Park
Moakley Park (they are having a big event on Saturday, I think)
Savin Hill (ball fields maybe)
Teenan Beach (there is a playground there)
They are interested in "families and kids playin

[2018-09-28 18:30] DACole commented on #80
Folder with Fotos
https://drive.google.com/open?id=1D3VtBvZkNyoA7KONJtQqvqgBP8gcdpLs
videos
https://drive.google.com/open?id=1ynOPI399zo7evUBdHn_qSz2sRyMUjNv5

Let me know if you need me to color grade any of these, the originals and the jpegs are in the folder.

I also told Brenda to follow up with me about other cool sessions in the future.

[2018-09-28 18:30] #80 closed, assigned to DACole

[2018-09-28 18:33] DACole commented on #93
Carson Beach was filmed, here is the folder with the footage.
https://drive.google.com/open?id=1G0ISUALAgCw2XmQht9mx64hjrBv_cUmj

[2018-09-28 18:34] DACole commented on #93
Today was raining and they want kids and things so will try to grab a few more shots before he makes the edit at the end of the day Monday.

[2018-09-28 18:44] DACole commented on #84
They have decided to not have the intro, so now we are just waiting on sign off as the videos are finished.

[2018-09-28 19:00] DACole opened #95 "Compact Living"

[2018-09-28 19:02] DACole commented on #95
Contact: Marcy Ostberg

We have this video about the UHU https://www.youtube.com/watch?v=wRvR_7r2uEU&t=78s
- We have access to the editable version of this video
- The narrator has offered to narrate any new sections for consistency if we write her the script

I think the following slides could be the base for the story (see attached video story).

We could animate the graphics from the Compact li

[2018-10-01 13:05] DACole commented on #95
Marcy,

wants me to send her, as sketch of the project today or tomorrow.

[2018-10-01 13:06] DACole commented on #93
I filmed all the locations Kris mentioned above, going to upload them and save them to this folder.
https://drive.google.com/open?id=1G0ISUALAgCw2XmQht9mx64hjrBv_cUmj

[2018-10-01 13:33] DACole commented on #84
Final Versions.
https://drive.google.com/open?id=1-6puQclIDeVUhPcAf5bdAaWadNzTPStB

[2018-10-01 13:33] #84 closed, assigned to DACole

[2018-10-01 13:34] DACole commented on #87
I am going to ask Natalia whats up with this .

[2018-10-01 13:54] DACole commented on #87
Spelling Changes...two of them.

[2018-10-01 15:18] #93 closed, assigned to DACole

[2018-10-01 15:19] DACole commented on #95
Email Kris about this.

[2018-10-01 19:35] DACole opened #96 "Boston Air Film Public Art"

[2018-10-01 19:36] DACole commented on #96
Arts, has asked me to capture a moment of a public art work that is going to be removed this week. Located at Peters Park.

[2018-10-01 20:31] DACole commented on #87
shipped!

Promo:
https://youtu.be/QAA31yHZmcw

FL:
https://youtu.be/K-80-oBO8tE

[2018-10-01 20:32] #87 closed, assigned to DACole

[2018-10-01 21:32] DACole opened #97 "liaison portrait"

[2018-10-01 21:33] DACole commented on #97
Sam Chambers, wants me to take a liaisons portrait on Friday morning.

[2018-10-01 21:45] DACole opened #98 "THERESA-INDIA YOUNG"

[2018-10-01 21:46] DACole commented on #98
Last minute typo change to an Artist Talk video that was shared back to the artist a few months ago. Quick change made and email confirmation sent back to  Jackie Brown the artist's manager.

brown.18@netzero.net
Jackie Brown

Attachments area
Preview YouTube video Artist Talk: THERESA-INDIA YOUNG

[2018-10-01 21:47] #98 closed, assigned to DACole

[2018-10-10 13:38] DACole commented on #96
Filmed public art and shared the data back with arts.

[2018-10-10 13:38] #96 closed, assigned to DACole

[2018-10-10 13:39] DACole commented on #97
done shipped
https://drive.google.com/open?id=1hspP_F-bjoQkqPhLZfRRJGx54FVCqKIT

[2018-10-10 13:39] #97 closed, assigned to DACole

[2018-10-10 13:42] DACole commented on #95
Kris ok'd the project, materials were delivered in full yesterday. delivering a rough draft today.

[2018-10-11 13:15] DACole commented on #95
submitted the draft....they said they like it, adding more logs...this is done.

[2018-10-11 13:19] DACole opened #99 "Digital Equity Video"

[2018-10-11 13:19] DACole opened #100 "Energy + Data Video"

[2018-10-11 13:45] #95 closed, assigned to DACole

[2018-10-12 16:02] DACole opened #101 "New Bostonians"

[2018-10-12 16:03] DACole commented on #101
Contact:
Claudia Green
Executive Director
English for New Bostonians
105 Chauncy St., 4th floor
Boston, MA 02111
617.982.6861
www.englishfornewbostonians.org

Advance: Xavier Savage

Run of show:
9:30 - 9:50 AM --- MJW and students meet and greet, MJW asks questions to students
9:50 - 10:00 AM -- group photos

Photo: Yes (group photo at end of 1/2 hour)

Filming: Yes, event will be filmed to use f

[2018-10-12 16:03] DACole commented on #101
Filmed and uploaded to g drive.
https://drive.google.com/open?id=1LYWs1wLMgg0PstoXZIGCZ1e0Cubv314b

[2018-10-12 16:03] #101 closed, assigned to DACole

[2018-10-12 18:53] DACole commented on #92
I have to set this up directly on her computer, you are not able to transfer the folder via the web.

[2018-10-16 14:42] DACole opened #102 "Mayor Tapping Epic"

[2018-10-16 14:44] DACole opened #103 "Mayor Tapping October 17"

[2018-10-16 14:45] DACole commented on #103
child of #102

1. Boston Preservation Alliance Annual Preservation video
Contact: Greg Galer, 6173672458, ggaler@bostonpreservation.org

2. TBD Early Voting Promo
Contact: Becca Young

3. Boston CIO Executive Summit Taping
Contact: "Omar Bedran
Organization / Affiliation name:  Boston CIO Executive Summit
Phone Number:  9717176680
Alternate phone:  9717176680
Email:  omar.bedran@evanta.com"

4.  P

[2018-10-17 16:15] DACole opened #104 "Nakia Workshops"
Hello Darren + Kristina,

I hope all is well. I would love for you to come and record footage and take photos of my writing workshops within the next few weeks. I meet with the seniors at the Grove Hall Community Center on Monday and the young girls on Wednesday evenings at New Academy Estates located on 2918 Washington Street, Roxbury, MA 02119.

Below is a schedule of when the workshops are taki

[2018-10-17 16:17] DACole commented on #103
Batteries are charged, I need to pick up some 2A batteries, and bring a charger for the rechargeable batteries.

Stacia is going to learn where all the equipment goes, and she will film the taping after I set everything.

[2018-10-17 16:28] DACole opened #105 "#BU Shirley Eustis House"
child of #39

[2018-10-17 16:29] DACole commented on #105
first edits rocks by Sarah Rocks.
https://drive.google.com/file/d/1stvJORNAOvRSA2u1wZAx0-vtzP7waD-T/view?usp=sharing

I am tweaking the broll a bit for the next draft.

[2018-10-19 17:32] DACole commented on #103
Stacia Filmed it, and the videos were shipped...huge success!

[2018-10-19 17:32] #103 closed, assigned to DACole

[2018-10-19 17:32] #92 closed, assigned to DACole, SarahFigalora

[2018-10-19 17:33] DACole commented on #105
Released, done... shipped.

[2018-10-19 17:33] #105 closed, assigned to DACole, SarahFigalora

[2018-10-22 14:15] DACole opened #106 "Red Soxs Parade Champions' City"
Renee B. as a contact.

Film the parade and make a little video they can share on social. Look for places to get an aerial.

[2018-11-05 16:26] DACole commented on #106
Filmed the event. The footage is here...we released some fotos and I was going to make a small edit for archives and events...

https://drive.google.com/open?id=1c2mlhXLUygh36jByfSmbA2C19h0flQkz

[2018-11-09 20:58] #106 closed, assigned to DACole